.registro_container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  margin-top: 20px;
}

.registro {
  background-color: #efefef;
  padding: 36px;
  width: 40%; 
  border-top-left-radius: 40px;
}

@media only screen and (max-width: 770px) {
  .registro {
    width: 100%;
  }
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-color: #cdcdcd;
  border-left: 0;
  color: #111;
  border-radius: 0;
  &:focus {
    border-color: #111;
  }
}

.form-control::placeholder {
  color: rgb(167, 167, 167);
}

.btn {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: 8px;
  &:hover {
    background: lighten(#2f2f2f, 13%);
  }
}

.si-cuenta {
  font-size: 17px;
  font-weight: 600;
  color: #484848;
  text-decoration: none;
}

.si-cuenta:hover {
  color: #bcbcbc;
}
