<app-header-logout></app-header-logout>
<div class="registro_container">

  <br>
  <form class="registro">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" class="form-control" placeholder="María" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" class="form-control" placeholder="Juarez" required>
    </div>
    <div class="form-group">
      <label for="correo">Correo electrónico</label>
      <input type="email" id="correo" class="form-control" placeholder="email@mail.com" required>
    </div>
    <div class="form-group">
      <label for="username">Usuario</label>
      <input class="form-control" type="text" id="username" placeholder="usuario123" required />
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input class="form-control" type="password" id="password" placeholder="**" required />
    </div>
    <br>
    <input class="btn" type="submit" value="Registrarse" />
  </form>
  <br>
</div>
<a class="si-cuenta" href="/login">Ya tengo una cuenta</a> 
