<div class="re-container">
    <h2>Registrarse como Cliente</h2>
    <img src = "/assets/re.png" class = "img-deco">
    <div class = "form-column">
      <form class="re-form" action="#" method="post">
        <p>Nombre:</p>
        <input type="text" id="name" required>
        <p>Apellido:</p>
        <input type="text" id="lastname">
        <p>Correo Electrónico:</p>
        <input type="text" id="email" required>
    </div>
    <div class = "form-column">
        <p>Usuario:</p>
        <input type="text" id="username" required>
        <p>Contraseña:</p>
        <input type="password" id="password" required>
        <button type="submit">Registrarse</button>
    </div>
        <!--La info. bancaria que la llene despues, no?-->
      </form>
    </div>
      <br>
        <p class="si-cuenta">¿Ya tienes cuenta? <a href="/login">Inicia Sesión</a></p>
