<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/principal">{{menus[0]}}</a>
          <a class="nav-link" routerLink="/ofertas">{{menus[1]}}</a>
          <a class="nav-link" routerLink="/mas-vendidos">{{menus[2]}}</a>
          <a class="nav-link" routerLink="/login">{{menus[3]}}</a>
          <a class="nav-link active" aria-current="page" routerLink="/principal"></a>
          <a id = "carrito" class="nav-link" href="/carrito">{{menus[4]}}<img src="assets/carrito5.png" alt="Store"/>
        </a>        
        </div>
      </div>
    </div>
</nav>

