<footer>
    <div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h4>Sobre Nosotros</h4>
          <br>
          <p>
Somos estudiantes de Ciencia de Datos, estudiamos en la Escuela Superior de Cómputo (ESCOM), 
perteneciente al Instituto Politécnico Nacional (IPN), desarrollamos este proyecto para la asignatura
Desarrollo de Aplicaciones Web.       
          </p>
        </div>
        <div class="col-sm-2 col-md-5">
          <h4>Contáctanos</h4>
          <br>
          <h6>email&#64;mail.com</h6>
          <br>

        </div>
      </div>
    </div>
</footer>
