.login_container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 100%;
    margin-top: 20px;
  }

  label {
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #656565;
  }
  .login {
    background-color: #efefef;
    padding: 36px;
    width: 40%;
    position: relative;
    border-top-right-radius: 40px;
    left: 150px;
  }
  @media only screen and (max-width: 770px) {
    .login {
      width: 100%;
      position: relative;
      left: auto;
    }

  }
  .form-control {
    position: relative;
    left: 0px;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-color: #b1b1b1;
    border-left: 0;
    color: #111;
    border-radius: 0;
    &:focus {border-color: #111;}
  }
  .form-control::placeholder {
    color: rgb(167, 167, 167); /* Cambia "pink" al color que desees */
}

  .btn{
    padding: .5rem 2.5rem;
    font-size: .95rem;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: 8px;
    &:hover {background: lighten(#2f2f2f, 13%);}
  }
  .no-cuenta {
    font-size: .8rem;
    font-weight: 600;
    font-size: 17px;
    top: 20px;
    position: relative;
    color: #d2d2d2;
    &:focus,
    &:hover {color: darken(#999, 13%);}
  }

  @media only screen and (max-width: 770px) {
    img {
        display: none;
    }
  }

  img {
    float: left;
    position: relative;
    left: 150px;
    width: 32%;
  }
