button{
    padding: .5rem 2.5rem;
    font-size: .95rem;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: 8px;
    &:hover {background: lighten(#2f2f2f, 13%);}
    margin: 20px;
  }

.tipo-cuenta {
    width: 100%;
}

h3 {
    color: rgb(0, 0, 0);
}