@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}
/*Registro*/

.registr {
    box-sizing: border-box;
    display: flex;
    background-color: #c0d8ff;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgb(13, 59, 104);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.info {
    width: 35%;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    margin: 20px
    border-top-left-rargb(255, 255, 255)0px;
    border-bottom-left-radius: 20px;
}

.info-childs input {
    background: transparent;
    outline: none;
    font-size: 18px;
    border: solid 2px rgb(21, 85, 145);
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color .3s ease;
}

.pp {
    font-size: 15px;
}

.info-childs input:hover {
    background-color: rgb(21, 85, 145);
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgb(21, 85, 145);
}

.form-info {
    display: block;
    align-items: center;
    justify-content: center;
    width: 65%;
    text-align: center;
    background-color: rgb(149, 185, 235);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-info-childs {
    padding: 0 30px;
    text-align: center;
    margin-top: 20px;
}

.form-info-childs h2 {
    font-size: 2rem;
}

.form-info-childs p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.form-info form {
    margin: 20px 50px 50px;
}

.form-info form label {
    display: block;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.form-info form label input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.form-info form input[type="submit"] {
    background-color: rgb(13, 57, 104);
    color: white;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: rgb(13, 60, 104);
}

.form-info form input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(21, 83, 145);
    box-shadow: 0 2px 5px rgb(21, 77, 145);
}

.hide {
   position: absolute;
   transform: translateY(-300%);
}

@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

.container-form {
    height: auto;
    flex-direction: column;
}


.info {
    width: 100%;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-info {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}
}

/*Index*/

.bodyIndex {
    margin:0;
    padding:0dvi;
  }

.visual {
    background-color: rgb(14, 55, 113);
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    color:rgb(105, 147, 202);
}

.support {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    color:rgb(42, 97, 169);
    gap: 2rem;
}

.support i{
    color:rgb(42, 97, 169);
    font-size: 1.3rem;
    padding-left: 2rem;
}

.content-support{
    display: flex;
    flex-direction: column;
}

.contenedor-poli{
    display: flex;
    align-items: center;
    margin-left: 50rem;
}

.contenedor-poli i{
    font-size: 2.6rem;
    letter-spacing: 6px;
    color:rgb(105, 147, 202);
}

.contenedor-poli h1 a{
    text-decoration: none;
    color: rgb(105, 147, 202);
    font-size: 3rem;
    font-weight: 900;
}

.contenedor-usuario{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.contenedor-usuario .fa-user{
    font-size: 2rem;
    color:rgb(105, 147, 202);
    padding-right: 1.5rem;
    padding-top: 1rem;
    border-right: 1px solid white;
}

.content-cart{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-right: 1.5rem;
    flex-direction: column;
}

/*Index: Barra navegacion*/

.contenedor-navbar{
    background-color: rgb(73, 127, 224);
}

.navbar{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}
.menu{
    display: flex;
    gap:2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 900;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all .3 ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #ffedb6;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 2rem;
    background-color: white;
    height: 33px;
    overflow: hidden;
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: none;
    font-size: 20px;
    padding: 0 2rem;
    cursor: pointer;
    color: rgb(91, 140, 230);
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border:none;
    background-color: rgb(114, 144, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 1rem;
    color: white;
}

/*Banner*/

.banner {
    background-image: url('images/ver1.png');
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.contenido-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.contenido-banner p{
    color: rgb(244, 244, 244);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: right;
    margin-left: 750px;
    font-weight: 900;
}

.contenido-banner h2{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    text-align: right;
    margin-left: 500px;
    font-weight: 900;
    line-height: 1.2;
}

.contenido-banner a{
    margin-top: 2rem;
    color: white;
    background-color: rgb(13, 37, 113);
    display: inline-block;
    padding: 1rem 3rem;
    margin-left: 65rem;
    text-decoration: none;
    border-radius: 3rem;
}

.contenido-banner a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 52, 113);
    transition: .5s ease;
}