<app-header></app-header>
<br>
<h1>Carrito de Compras</h1>
<br>
<div class = "containerP">
    @for ( item of lista; track item.id) {
        <div class="item">
            <img src="{{item.thumbnail}}" class="item img" alt="blog"> <!--cambiar url por la de la imagen correspondiente en la bd -->
            <div class = "info_producto">
                <h3>{{item.title}} / Vendedor: Xuu</h3>
                <p>Breve Descripcion</p>
                <p class="precio">${{item.price}}.00</p>
                    <button (click)="eliminarProducto(item.id)">Eliminar</button>
                
            </div>
        </div>
            }
</div>
<br>
<button class="pago">Pagar</button>

    